<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="view/index/index.css">
    <script type="module" src="view/index/scripts/index.mjs"></script>
</head>
<body>
    <h1>hellowoorld</h1>
    <%- include('./partials/form_list_records.ejs'); %>
    <%- include('./partials/form_add_record.ejs'); %>
</body>
</html>