<div class="form" id="list_records">
    <div class="section">
        <h2 class="center">Select Item</h2>
        <div class="section">
            <b>Records</b>
            <select name="" id="record-list" class="component"></select>
        </div>
        <button class="button fill" id="select">SELECT</button>
        <button class="button fill" id="delete">DELETE</button>
        <div class="section" id="info">
            <div class="box">
                <div class="label">Id</div>
                <div class="info component large" id="id"></div>
            </div>
            <div class="box">
                <div class="label">Desc</div>
                <div class="info component" id="description" contenteditable="true"></div>
                <button class="button fit" data-field="description">UPDATE</button>
            </div>
            <div class="box">
                <div class="label">Qty</div>
                <div class="info component" id="quantity" contenteditable="true"></div>
                <button class="button fit" data-field="quantity">UPDATE</button>
            </div>
            <div class="box">
                <div class="label">Price</div>
                <div class="info component" id="price" contenteditable="true"></div>
                <button class="button fit" data-field="price">UPDATE</button>
            </div>
            
        </div>
    </div>
</div>